{% extends './base.html' %}
{% block content %}
{% load i18n %}
<div class="bigbox">
    <h1>{% trans 'Group creation' %}</h1>
    <form method="POST" id="form"> {% csrf_token %}

        <div class="flex flex-sb component2">
            <input id="id_name" name="name" type="text" placeholder="{% trans 'group name' %}" maxlength="32" style="width: 50%"/>
            
            <div>
                {% trans 'author' %}: 
                <input value="{{user}}" disabled=true/>
            </div>
        </div>
        

        <div class="flex component2">
            <textarea id="id_description" name="description" placeholder="{% trans 'description' %}" maxlength="1024" style="width: 100%; resize: vertical; height: 100px;"></textarea>
        </div>


        {% for error in errors %}
        <a>{{error}}</a>
        {% endfor %}
        

        <div class="submitbox">
            <button type="submit">{% trans 'Сreate' %}</button>
        </div>

    </form>
</div>
{% endblock %}
