{% extends './base.html' %}
{% block content %}
{% load i18n %}
<div class="bigbox">
    <h1>{% trans 'Group' %} {{group.name}}</h1>
    <form method="POST" id="form"> {% csrf_token %}

        <div class="flex flex-sb component2">
            <div></div>
            <div>
                {% trans 'author' %}: 
                <input value="{{group.author}}" disabled=true/>
            </div>
        </div>


        <div class="flex component2">
            <a>{% trans 'Members'%}:</a>
            <input type="text" disabled value="{%for mem in group.members.all%}mem{%endfor%}" style="width:100%">
            {%if user == group.author%}<input name="btn_mem" type="submit" value="{% trans 'Modify' %}">{%endif%}
            {%if user == group.author and group.members_pending.all|length%}<a class="notification">{{group.members_pending.all|length}}</a>{%endif%}
        </div>


        <div class="flex">
            <div class="flex-col component2" style="width: 50%">               
                <textarea style="width: 100%; resize: vertical; height: 200px" disabled=true>{{group.description}}</textarea>
            </div>

            <div class="flex-col component2" style="width: 50%">
                
            </div>
        </div>

        <br>

        <div class="submitbox">
        {% if group.author == user %}
            <input type="submit" name="btn_edit" value="{% trans 'Edit' %}">
        {% elif user in group.members_pending.all %}
            <input type="text" value="{% trans 'Join request pending' %}" disabled style="text-align: center">
            <input type="submit" name="btn_cancel_join" value="{% trans 'Cancel' %}">
        {% elif user in group.members.all %}
            <input type="submit" name="btn_leave" value="{% trans 'Leave' %}">
        {% elif user not in group.members.all %}
            <input type="submit" name="btn_join" value="{% trans 'Join' %}">
        {% endif %}
        </div>
        
    </form>
</div>
{% endblock %}