{% extends './base.html' %}
{% block content %}
{% load i18n %}
<div class="bigbox">
    <h1>{% trans 'Group' %} {{group.name}}</h1>
    <form method="POST" id="form"> {% csrf_token %}


        <div class="flex">
            <div class="component2" style="width: 50%">
                <a>{% trans 'Members' %}</a>
                <div class="flex-col">
                    {% for mem in group.members.all %}
                    <div class="flex">
                        <input value="{{mem}}" style="width: 40%" disabled>
                        <input name="btn_mem_del_{{mem}}" type="submit" value="✖" style="width: 21px">
                    </div>
                    {% endfor %}
                </div>
            </div>

            <div class="component2" style="width: 50%">
                <a>{% trans 'Pending' %}</a>
                <div class="flex-sb">
                    {% for mem in group.members_pending.all %}
                    <div class="flex">
                        <input value="{{mem}}" style="width: 40%" disabled>
                        <input name="btn_mem_add_{{mem}}" type="submit" value="✔" style="width: 21px">
                        <input name="btn_mem_rem_{{mem}}" type="submit" value="✖" style="width: 21px">
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>


        <br>

        <div class="submitbox">
            <input type="submit" name="btn_back" value="{% trans 'Ok' %}">
        </div>

    </form>
</div>
{% endblock %}