<div class="flex flex-col bigbox" id="module_assigned_to_box">
    <div class="flex-wrap flex-sb component2">
        {% for group in my_groups %}
        <div>
            <input type="checkbox" name="group_cb" value="{{group.name}}">
            <input disabled value="{{group.name}}">
        </div>
        {% endfor %}
    </div>
    
    <div style="margin: auto">
        <button type="button" onclick="switch_box_btn_click('module_show_box')">Назад</button>
    </div>
</div>


<script>
    function to_module_assigned_to_box(){
        group_cbs.forEach(group_cb => {
            if (assigned_to.value.split("\n").includes(group_cb.value)) 
                group_cb.checked = true
        })
        group_cbs.forEach(group_cb => console.log(group_cb.checked))
    }

    const group_cbs = document.getElementsByName("group_cb")
</script>