<div class="flex flex-col bigbox" id="module_pass_box">
    <div class="flex component2">
        Название: <input id="pass_name" disabled>
    </div>

    <div class="flex-col component2">
        Условие: <textarea id="pass_content" style="resize: none; height: 150px;" disabled></textarea>
    </div>
    
    <div class="flex-col flex-sb component2">
        Ответы:<div class="flex-col" id="pass_options"></div>
    </div>
    <div style="margin: auto">
        <button type="button" onclick="to_module_show_box()">Назад</button>
    </div>
</div>


<script>
    var task_list
    var task_list_length
    var cur_task
    var cur_statistic

    function to_module_pass_box(){
        switch_box("module_pass_box")

        cur_statistic = 0
        task_list = Array.from(tasks_vars).sort(()=>-Math.floor(Math.random()*2))
        task_list_length =task_list.length
        pass_next_btn_click()
    }

    function from_module_pass_box(){
        console.log(cur_statistic/task_list_length*100)
    }

    function pass_next_btn_click() {
        if (task_list.length==0)from_module_pass_box()
        cur_task = task_list.pop()
        pass_name.value    = cur_task["name"]
        pass_content.value = cur_task["content"]
        pass_options.value = cur_task["options"]

        pass_options.textContent = ''
        cur_task["options"].split("\n").forEach(option => {
            var option_inp = document.createElement("button")
            option_inp.type = "button"
            console.log(option)
            option_inp.appendChild(document.createTextNode(option))
            option_inp.onclick = ()=>pass_answer_btn_click(option)
            pass_options.appendChild(option_inp)
        })
    }
    function pass_answer_btn_click(text) {
        if (cur_task["options"].split("\n").indexOf(text) == cur_task["answer"]){cur_statistic+=1}
        pass_next_btn_click()
    }
</script>