{% extends './base.html' %}
{% block content %}
{% load i18n %}
<div class="bigbox">
    <h1>{% trans 'Module editor' %}</h1>
    <form method="POST" id="form"> {% csrf_token %}
        <!-- header -->
        <div class="flex-sb component2">
            <!-- name -->
            <input id="name" name="name" type="text" value="{{module.name}}" placeholder="{% trans 'module name' %}" maxlength="32" style="width: 50%"/>
            <!-- author -->
            <div>
                {% trans 'author' %}: 
                <input value="{{user}}" disabled=true/>
            </div>
        </div>
        
        <!-- center -->
        <div class="flex">
            <!-- left -->
            <div class="flex-col component2" style="width: 50%; height: auto;">    
                <!-- description -->
                <textarea name="description" placeholder="{% trans 'description' %}" maxlength="1024" style="width: 100%; resize: vertical; min-height: -webkit-fill-available;">{{module.description}}</textarea>
            </div>

            <!-- right -->
            <div class="flex-col componentNone" style="width: 50%; overflow-y: scroll; height:100%;">
                <!-- tasks -->
                <div class="flex-col component2">
                    <!-- title -->
                    <a style="text-align: center; width: 100%;">{% trans 'Edit tasks' %}</a>
                    <!-- task list -->
                    <div id="tasks_div">
                        {% for task in module.tasks.all %}
                        <div class="flex">
                            <!-- button delete -->
                            <input type="submit" name="btn_task_delete_{{forloop.counter|add:-1}}" value="{% trans 'Delete' %}">
                            <!-- button edit  -->
                            <input type="submit" name="btn_task_edit_{{forloop.counter|add:-1}}" value='{{task.name}}' style="width: 100%;">
                        </div>
                        {% endfor %}
                    </div>
                    <!-- button create -->
                    <input type="submit" name="btn_task_create" value="{% trans 'New task' %}">
                </div>

                <!-- ckeckbox is_random -->
                <div class="flex component2">
                    <input name="is_tasks_rnd" type="checkbox" {% if module.is_tasks_rnd %}checked{% endif %}>
                    <a style="font-size: 15px">{% trans 'In random order' %}</a>
                </div>
            </div>
        </div>

        <br>
        
        <div class="flex">
            <div class="submitbox" style="width: 100%;">
                <input type="submit" name="btn_save" value="{% trans 'Save' %}">
            </div>
            <div class="submitbox" style="width: 100%;">
                <input type="submit" name="btn_del" value="{% trans 'Delete' %}" onclick="return btn_del_check('{% trans 'module' %} '+document.getElementById('name').value)">
            </div>
            <div class="submitbox" style="width: 100%;">
                <input type="submit" name="cancel_btn" value="{% trans 'Cancel' %}">
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
    function btn_del_check(name='') {return confirm("{% trans 'Delete' %} "+name+"?")}
</script>
{% endblock %}