<div class="flex flex-col bigbox" id="module_task_box">
    <div class="flex-col component2">
        {{ form.tasks.label }}:
        <div class="flex-wrap flex-sb" id="task_alltasks"></div>
        <button type="button" onclick="to_module_newtask_box()">Создать</button>
    </div>
    
    <div style="margin: auto">
        <button type="button" onclick="to_module_show_box()">Назад</button>
    </div>
</div>



<script>
    
    function to_module_task_box(){
        switch_box('module_task_box')
        
        task_alltasks.textContent = ''
        tasks_vars.forEach(task => {
            var task_btn     = document.createElement("button");
            task_btn.onclick = e=>to_module_newtask_box(task['name'])
            task_btn.style   = "min-width: 200px;"
            task_btn.type    = "button"
            task_btn.appendChild(document.createTextNode(task['name']))
            task_alltasks.appendChild(task_btn)
        })
    }

</script>