{% load i18n %}
<div id="module_edit_box" class="bigbox" style="display: block">
    <h1>{% trans 'Module editor' %}</h1>
    <form method="POST" id="form"> {% csrf_token %}

        <div class="flex-sb component2">
            <input id="name" value="{{module.name}}" name="name" type="text" placeholder="{% trans 'module name' %}" maxlength="32" style="width: 50%"/>
            
            <div>
                {% trans 'author' %}: 
                <input value="{{user}}" disabled=true/>
            </div>
        </div>

        
        <div class="flex">
            <div id="left_content_div" class="flex-col component2" style="width: 50%; height: fit-content;">               
                <textarea id="description" value="{{module.description}}" name="description" placeholder="{% trans 'description' %}" maxlength="1024" style="width: 100%; resize: vertical; height: 100px;"></textarea>
            </div>

            <div id="right_content_div" class="flex-col component2" style="width: 50%; overflow-y: scroll; height:100px;">
                <input type="text" value="{{module.tasks}}" id="tasks_data" name="tasks_data">
                <a style="text-align: center; width: 100%;">{% trans 'Edit tasks' %}</a>
                <div id="tasks_div"></div>
                <input type="button" onclick="{task_edit_click('')}" value="{% trans 'New task' %}">
            </div>
        </div>
        
        
        <div class="submitbox">
            <input type="submit" name="btn_save" value="{% trans 'Save' %}">
        </div>

    </form>
</div>


<script type="text/javascript">
    // variables
    var tasks_data = document.getElementById("left_content_div")
    console.log(tasks_data.value)
    // task list settup
    // tasks_vars.forEach(task => {
    //         var task_btn     = document.createElement("input");
    //         task_btn.onclick = e=>to_module_newtask_box(task['name'])
    //         task_btn.style   = "width: 200px;"
    //         task_btn.type    = "button"
    //         task_btn.value   = task['name']
    //         task_alltasks.appendChild(task_btn)
    //     })


    function task_edit_click(id){

    }
    // resize due description
    var left_content_div = document.getElementById("left_content_div")
    var height = left_content_div.clientHeight
    document.getElementById("right_content_div").style.height = left_content_div.clientHeight - 10 + 'px'
    document.getElementById("module_edit_box").addEventListener("mousemove", function(){
        if(left_content_div.clientHeight != height)
            document.getElementById("right_content_div").style.height = left_content_div.clientHeight - 10 + 'px'
        height = left_content_div.clientHeight;
    });
</script>