{% extends './base.html' %}
{% block content %}
{% load i18n %}
{% load DWP %}
<div class="bigbox">
    <h1>{% trans 'Task editor' %}</h1>
    <form method="POST" id="form"> {% csrf_token %}
        <!-- header -->
        <div class="flex-sb component2"> 
            <!-- name -->
            <input type="text" name="name" value="{{task.name}}" placeholder="{% trans 'task name' %}" maxlength="32" style="width: 50%"/>
            <!-- task type -->
            <div>
                <a>{% trans 'type' %}:</a>
                <select id="task_type" name="task_type" onchange="set_answers_div()">
                    <option value="one" {% if task.type == 'one' %}selected{% endif %}>{% trans 'one answer' %}</option>
                    <option value="multy" {% if task.type == 'multy' %}selected{% endif %}>{% trans 'multiple answers' %}</option>
                    <option value="text" {% if task.type == 'text' %}selected{% endif %}>{% trans 'text answers' %}</option>
                </select>
            </div>
        </div>

        <!-- center -->
        <div class="flex">
            <!-- right -->
            <div class="flex-col component2" style="width: 50%; height: auto;">       
                <!-- condition -->
                <textarea name="condition" placeholder="{% trans 'condition' %}" maxlength="1024" style="width: 100%; resize: vertical; min-height: -webkit-fill-available;">{{task.condition}}</textarea>
            </div>
            <!-- left -->
            <div class="flex-col componentNone" style="width: 50%; overflow-y: scroll;">
                <!-- options -->
                <div class="flex-col component2">
                    <!-- title -->
                    <a style="text-align: center; width: 100%;">{% trans 'Answer options' %}</a>
                    <!-- anster options -->
                    <div id="answers_div"></div>
                    <!-- buttons -->
                    <div class="flex">
                        <input type="button" onclick="set_answers_div(1)" name="btn_answer_add" value="{% trans 'Add field' %}" style="width:50%">
                        <input type="button" onclick="set_answers_div(-1)" name="btn_answer_rem" value="{% trans 'Remove field' %}" style="width:50%">
                    </div>
                </div>
                <!-- checkbox is_random -->
                <div id="is_random" class="flex component2">
                    <input name="is_random" type="checkbox" {% if task.is_answer_rnd %}checked{% endif %}>
                    <a style="font-size: 15px">{% trans 'In random order' %}</a>
                </div>
            </div>
        </div>

        <br>

        <!-- bottom -->
        <div class="submitbox">
            <!-- button save -->
            <input name="btn_save" type="submit" value="{% trans 'Save' %}">
        </div>
    </form>
</div>

<script type="text/javascript">
    // tasks data
    var task_data = {{task.answers.all|maplist:"[1 if x.is_correct else 0, x.value]"|safe}}
    // element vars
    var answers_div = document.getElementById("answers_div")
    var task_type = document.getElementById('task_type')
    // inital
    _fill_answers_div()



    function set_answers_div(modify=0){
        _retrive_values_from_answers_div()
        // modify
        if(modify>0) task_data.push([false,''])
        if(modify<0) task_data.pop()
        _fill_answers_div()
    }


    function _retrive_values_from_answers_div(){
        // retrive data
        inputs = [...document.getElementsByTagName("input")]
        corrects = Array.from(inputs.filter(el => el.name.startsWith('correct_answer_')),el=>el.checked)
        answers = Array.from(inputs.filter(el => el.name.startsWith('answer_value_')),el=>el.value)
        // cleanse old data
        task_data = []
        // fill new data
        for(var i=0;i<answers.length;i++) 
            task_data.push([corrects[i], answers[i]])
    }


    function _fill_answers_div(){
        // random
        if(task_type.value == 'text') document.getElementById('is_random').style.visibility = 'hidden'
        else document.getElementById('is_random').style.visibility = 'visible'
        // cleanse answers_div
        answers_div.textContent = ''
        // fill answers_div
        for(var i=0;i<task_data.length;i++) {
            // is_correct
            var new_correct_answer = document.createElement("input")
            new_correct_answer.name = "correct_answer_" + i
            if (task_data[i][0]) new_correct_answer.checked = true
            if (task_type.value == 'one') new_correct_answer.type = "radio"
            if (task_type.value == 'multy') new_correct_answer.type = "checkbox"
            if (task_type.value == 'text') new_correct_answer.type = "hidden"
            // value
            var new_answer_value = document.createElement("input")
            new_answer_value.type = "text"
            new_answer_value.name = "answer_value_" + i
            new_answer_value.value = task_data[i][1]
            new_answer_value.style = "width: 100%"
            new_answer_value.maxLength = 32
            // new_answer_value.addEventListener("change", ans_opt_change)
            // div
            var new_answer_div = document.createElement("div")
            new_answer_div.classList.add("flex")
            new_answer_div.appendChild(new_correct_answer)
            new_answer_div.appendChild(new_answer_value)
            // add
            answers_div.appendChild(new_answer_div)
        }
    }// set_answers_div - end
</script>
{% endblock %}