{% extends './base.html' %}

{% block content %}
<div class="bigbox">
    <h1>{{tr_module_creation}}</h1>

    <form method="POST" id="form"> {% csrf_token %}

        <div class="flex flex-sb component2">
            <input id="id_name" name="name" type="text" placeholder="{{tr_module_name}}" maxlength="32" style="width: 50%"/>
            
            <div>
                {{tr_author}}: 
                <input value="{{user}}" disabled=true/>
            </div>
        </div>
        

        <div class="flex component2">
            <textarea id="id_description" name="description" placeholder="{{tr_description}}" maxlength="1024" style="width: 100%; resize: vertical; height: 100px;"></textarea>
        </div>
        

        <div class="submitbox">
            <input type="submit" value={{tr_create}}>
        </div>

    </form>
</div>

{% endblock %}