{% extends './base.html' %}

{% block content %}
    <h1 align="center">{{pagename}}</h1>
    <form method="POST" class="flex-col">
        {% csrf_token %}
        Name: <input type="text" value="{{module.name}}" disabled>
        Author: <input type="text" value="{{module.author}}" disabled>
        Assigned to: <textarea disabled style="resize: none;">{{module.assigned_to}}</textarea>
        Tasks: <textarea disabled style="resize: none;">{{module.tasks}}</textarea>
        
        {% if user == module.author %}
        <input type="submit" value="edit">
        {% else %}
        <input type="submit" value="do">
        {% endif %}
    </form>
{% endblock %}
