body {
    margin: auto;
    width: 80%;
    min-height:100%;
}
html {
    font-family: Arial;
    background-color:#808080;
    height:100%;
}
main {
    width: 100%;
    flex:1 1 0;
}/*big-end*/

footer, header {
    background-color: #A0A0A0;
    padding: 10px 50px;
}
footer a:any-link, header a:any-link {
    color:#000000
}
footer a:focus, header a:focus{
    color:#300030
}/*footer, header-end*/



a {
    font-family: Arial;

    text-decoration: none;

    padding: 2px;
    margin: 1px;
}
a:any-link {
    color:#5000F0
}
a:any-link:focus {
    color:#A000A0
}

h1 {
    font-family: Arial;
    font-size: 25px;

    text-align: center;

    margin: 0px;
}

input[type=text] {
    font-family: Arial;
    
    background-color: #FFFFFF;
    
    border: #A0A0A0 solid 1px;
    border-radius: 4px;

    box-sizing: border-box;
    padding: 2px;
    margin: 1px;
}
input:disabled {
    font-family: Arial;
    
    background-color: #D0D0D0;
    
    border: #A0A0A0 solid 1px;
    border-radius: 4px;
    
    cursor: default;

    box-sizing: border-box;
    padding: 2px;
    margin: 1px;
}
input[type=button], input[type=submit], input[type=reset] {
    font-family: Arial;
    
    background-color: #F0F0F0;
    
    border: #A0A0A0 solid 1px;
    border-radius: 4px;

    cursor:pointer;
    
    box-sizing: border-box;
    padding: 2px 5px;
    margin: 1px;
}
input[type=button]:active, input[type=submit]:active, input[type=reset]:active {
    font-family: Arial;
    
    background-color: #E0E0E0;
    
    border: #909090 solid 1px;
    border-radius: 4px;
    
    cursor:pointer;

    box-sizing: border-box;
    padding: 2px 5px;
    margin: 1px;
}
input[type=checkbox], input[type=radio] {
    font-family: Arial;
    
    background-color: #E0E0E0;
    
    border: #909090 solid 1px;
    border-radius: 4px;
    
    cursor:pointer;

    box-sizing: border-box;
    margin: 5px 0px;
}

textarea {
    font-family: Arial;

    background-color: #FFFFFF;
    
    border: #A0A0A0 solid 1px;
    border-radius: 4px;
    
    box-sizing: border-box;
    padding: 2px;
    margin: 1px;
}
textarea:disabled {
    font-family: Arial;

    background-color: #D0D0D0;
    
    border: #A0A0A0 solid 1px;
    border-radius: 4px;
    
    cursor:default;

    box-sizing: border-box;
    padding: 2px;
    margin: 1px;
}