.test{
    background-color: aquamarine;
    width: 300px;
}
.abc{
    width: 66%;
    padding: 10px 20px;
    border-radius: 4px; 
    border-color: red;
}
div.box {
    border-radius: 4px;
    border-color: #999999;
    background-color: #999999;
    padding: 10px;
}
