body {
    margin: auto;
    width: 80%;
    min-height:100%;
}
html {
    font-family: Arial;
    background-color:#808080;
    height:100%;
}
html a {
    text-decoration: none;
}
main {
    width: 100%;
    background-color:#F0F0F0;
    flex:1 1 0;
}
footer, header {
    background-color: #A0A0A0;
    padding: 10px 50px;

}
a:any-link, footer a:any-link, header a:any-link {
    color:blue
}
a:any-link, footer a:focus, header a:focus{
    color:blueviolet
}
