{% extends '../base.html' %}
{% block content %}
{% load i18n %}
<div class="bigbox">
    <h1>{% trans 'Signin' %}</h1>
    
    <form method="post"> {% csrf_token %}
        
        <div class="flex component2">
            <input id="id_username" name="username" type="text" placeholder="{% trans 'username' %}" style="width: 50%;"/>
            <input id="id_password" name="password" type="password" placeholder="{% trans 'password' %}" style="width: 50%;"/>
        </div>


        <div class="flex-sb">
            <div class="submitbox" style="width: 50%;">
                <button type="submit">{% trans 'Signin' %}</button>
            </div>
    
            <div class="submitbox" style="width: 50%;">
                <a style="font-size:smaller;">{% trans 'Not registred?' %} - </a>
                <input type="button" value="{% trans 'Register' %}" onclick="window.location='/accounts/register/{{redirect}}';">
            </div>
        </div>

    </form>
</div>
{% endblock %}
