{% extends '../base.html' %}
{% block content %}

<div class="bigbox">
    <h1>{{tr_registration}}</h1>

    <form method="post"> {% csrf_token %}

        <div class="flex component2">
            <div class="flex-col" style="width: 33%;">
                <input id="id_username" name="username" type="text" placeholder="{{tr_username}}" />
                {% for error in form.username.errors %} {{error}} {% endfor %}
            </div>

            <div class="flex-col" style="width: 33%;">
                <input id="id_password1" name="password1" type="password" placeholder="{{tr_password1}}" />
                {% for error in form.password1.errors %} {{error}} {% endfor %}
            </div>

            <div class="flex-col" style="width: 33%;">
                <input id="id_password2" name="password2" type="password" placeholder="{{tr_password2}}" />
                {% for error in form.password2.errors %} {{error}} {% endfor %}
            </div>
        </div>
        

        <div class="submitbox">
            <button type="submit">{{tr_register}}</button>
        </div>

    </form>
</div>

{% endblock %}