{% extends '../base.html' %}
{% block content %}

<h2>Register</h2>
<form method="post">
    {% csrf_token %}
    <div class="flex flex-col">
        {% for field in form %}
        <div class="flex">
            {{ field.label_tag }}
            {{ field }}
            {% for error in field.errors %}
            <a style="font-size:14px; color: red">{{ error }}</a>
            {% endfor %}
        </div>
        {% endfor %}
        <div>
            <button type="submit">{{button}}</button>
        </div>
    </div>
</form>

{% endblock %}