<!DOCTYPE html>
{% load static %}
<html>
    <head>
        {% include './head.html' %}
        {% block head %}
        {% endblock %}
    </head>

    <body class="flex flex-col">
        <header class="flex-sb">
            {% include './header.html' %}
            {% block header %}
            {% endblock %}
        </header>

        <main class="flex-sb">
            <div id="content">
                {% block content %}
                {% endblock %}
            </div>
            <div id="sider" class="flex-col">
                {% include './sider.html' %}
                {% block sider %}
                {% endblock %}
            </div>
        </main>
            
        <footer class="flex-sb">
            {% include './footer.html' %}
            {% block footer %}
            {% endblock %}
        </footer>
    </body>
</html>