{% load i18n %}
{% load DWP %}
<!-- groups you in -->
<div class="box flex-col">
    <div class="flex-jc">
        {%trans 'groups you in'%}:
    </div>
    {%for group in groups_you_in%}
    <div class="flex">
        <input type="button" style="width: 100%;" onclick="window.location.href = '/groups/?id={{group.id}}'" value="{{group.name}}">
        {%with group.moduls_data.all|filterlist:'not inpast(x.deadline)'|length as moduls_not_passed_num%}
        {%if moduls_not_passed_num%}<a class="notification">{{moduls_not_passed_num}}</a>{%endif%}
        {%endwith%}
    </div>
    {%endfor%}
</div>

<br>

<!-- your groups -->
<div class="box flex-col">
    <div class="flex-jc">
        {%trans 'your groups'%}:
    </div>
    {%for group in your_groups%}
    <div class="flex">
        <input type="button" style="width: 100%;" onclick="window.location.href = '/groups/?id={{group.id}}'" value="{{group.name}}">
        {%if user == group.author and group.members_pending.all|length%}<a class="notification">{{group.members_pending.all|length}}</a>{%endif%}
    </div>
    {%endfor%}
    <div class="flex-jc">
        <a href="/groups/create/">+</a>
    </div>
</div>

<!-- your moduls -->
<div class="box flex-col">
    <div class="flex-jc">
        {%trans 'your moduls'%}:
    </div>
    {%for module in your_moduls%}
    <div class="flex">
        <input type="button" style="width: 100%;" onclick="window.location.href = '/tasks/?id={{module.id}}'" value="{{module.name}}">
    </div>
    {%endfor%}
    <div class="flex-jc">
        <a href="/tasks/create/">+</a>
    </div>
</div>