<div class="box flex-col">
    <p class="component2">Активные Модули:</p>
    {% if not active_modules %}
        <p class="component">Пусто...</p>
    {% endif %}
    {% for module in active_modules %}
        <a class="component" href="/tasks/{{module.id}}">{{module.name}}</a>
    {% endfor %}
</div>

<div class="box flex-col">
    <p class="component2">Ваши Модули:</p>
    {% if not my_modules %}
        <p class="component">Пусто...</p>
    {% endif %}
    {% for module in my_modules %}
        <a class="component" href="/tasks/{{module.id}}">{{module.name}}</a>
    {% endfor %}
</div>

<div class="box flex-col">
    <p class="component2">Все Модули:</p>
    {% if not all_modules %}
        <p class="component">Пусто...</p>
    {% endif %}
    {% for module in all_modules %}
        <a class="component" href="/tasks/{{module.id}}">{{module.name}}</a>
    {% endfor %}
</div>

<div class="flex-col box" style="width: 300px;">
    <p class="component2">Ваши группы:</p>
    {% if not my_groups %}
        <p class="component">Пусто...</p>
    {% endif %}
    {% for group in my_groups %}
        <a class="component" href="/groups/{{group.id}}">{{group.name}}</a>
    {% endfor %}
</div>