{% extends './base.html' %}


{% block content %}
<h1 style="text-align: center;">{{pagename}}</h1>
<h2 style="margin-top: 100px; text-align: center;">Наши возможности:</h2>
<div class="flex" style="margin: 10px 10% 100px 10%;">
    <div class="box" style="width: 300px;">
        <p class="component2" style="text-align: center;">Задачи</p>
        <p class="component">Задачи - это задание, составляемое учителем. Так-же учитель должен указать правильный ответ.</p>
    </div>
    <div class="box" style="width: 300px;">
        <p class="component2" style="text-align: center;">Модули</p>
        <p class="component">Модули - это каталог задач по определенной теме. Модули могут представлять собой сбор задач как по определенной теме, так и по произвольному представлению преподавателя.</p>
    </div>
    <div class="box" style="width: 300px;">
        <p class="component2" style="text-align: center;">Группы</p>
        <p class="component">Группы - это список учеников преподавателя. В основном группа представляет собой школьный класс.</p>
    </div>
</div>
<h3>Тестирующая система Inanis occisor. Данная тестирующая система позволяет облегчить жизнь преподавателей и студентов в текущее непростое время. Все предельно просто: учитель даёт задание, ученик проходит его. Преподаватель не тратит времени на проверку задания, все проходит автоматически, что позволяет ему больше концентрироваться на учебном материале и взаимодействии с учениками. Впоследствие это отражается в положительном изменении качества образования.</h3>
{% endblock %}