{% extends './base.html' %}


{% block content %}
<h1 style="text-align: center;">Тестирующая система Inanis occisor.</h1>
<div class="flex" style="margin-left: 10%; margin-right: 10%;">
    <div class="box" style="width: 300px;">
        <p class="component2" style="text-align: center;">Задачи</p>
        <p class="component">Задачи - это</p>
    </div>
    <div class="box" style="width: 300px;">
        <p class="component2" style="text-align: center;">Модули</p>
        <p class="component">Модули - это </p>
    </div>
    <div class="box" style="width: 300px;">
        <p class="component2" style="text-align: center;">Группы</p>
        <p class="component">Группы - это</p>
    </div>
</div>
{% endblock %}
