{% extends './base.html' %}
{% block content %}
<div class="flex flex-sb">
    <h1 style="background-color: blueviolet; width: 400px">HERESY1</h1>
    <h2 class="test">heresy2</h2>
</div>
{{request.user}}
<h3>test</h3>
<h3>test</h3>
<h3>test</h3>
<h3>test</h3>
<h3>test</h3>
<h3>test</h3>
<h3>test</h3>
<h3>test</h3>
<h3>test</h3>
<h3>test</h3>
<h3>test</h3>
<h3>test</h3>
<h3>test</h3>
<h3>test</h3>
<h3>test</h3>
<h3>test</h3>
<h3>test</h3>
<h3>test</h3>
<h3>test</h3>
<h3>test</h3>
<h3>test</h3>
<h3>test</h3>
<h3>test</h3>
<h3>test</h3>
<h3>test</h3>
<h3>test</h3>
<h3>test</h3>
<h3>test</h3>
<h3>test</h3>
<h3>test</h3>
<h3>test</h3>
<h3>test</h3>
<h3>test</h3>
<h3>test</h3>
<h3>test</h3>
<h3>test</h3>
<h3>test</h3>
<h3>test</h3>
<h3>test</h3>
<h3>test</h3>
<h3>test</h3>
<h3>test</h3>
<a href="/heresyone/">yes</a>
{% endblock %}